@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

ul li{
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 70px;
    height: 70px;
}
.social{
    width: 100%;
}
.social img{
    width: 45px;
}
.article-image{
    background-image: url(img/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #ccc;
    /* border-radius: 5px; */
}
.carousel-inner{
    max-height: 350px;
}
@media only screen and (max-width: 576px )  {
    .article-image{
        height: 20vh;
    }
}
.article-text{
    font-size: 0.875rem;
    text-align: justify;
}
.video div{
    /* border: 1px solid black; */
}
.video iframe{
    width: 90%;
    border-radius: 1.25rem;
}
.cal iframe,.map iframe{
    width: 100%;
    height: 250px;
}
.map iframe{
    width: 100%;
    height: 250px;
}

/* footer */
footer ul{
    list-style: none;
    box-sizing: border-box;
}
footer ul li{
    margin: 0.675rem 0;
}
footer a{
    text-decoration: none;
    color: inherit;
}
footer a:hover{
    color: aqua;
}
footer h5{
    text-transform: uppercase;
}
.footer-top{
    background: #003c20;
}
.footer-bottom{
    background: #198754db;
}


/* button */