@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

ul li{
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #f2fcf9;
}
.text-justify{
    text-align: justify;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}

header{
    position: sticky;
    top: 0px;
    background: inherit;
    z-index: 3;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.flag{
    max-height: 70px;
}
.navbar-nav li:hover{
    background-color: #ccc;
}
.social img{
    width: 20px;
    margin-left: 15px;
}
.article-image{
    border: 4px solid #ccc;
    overflow: hidden;
    position: relative;
}
.article-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}
.carousel-inner{
    max-height: 350px;
}
.article-text{
    font-size: 0.875rem;
    text-align: justify;
}
.archives, .categories,.donation, .events-calendar, .video,.downloads{
    border: 1px solid rgb(141, 139, 139);
}
.archives h4, .donation h4, .events-calendar h4, .video h4,.downloads-title, .cat-title{
    border-bottom: 2px solid rgb(107, 106, 106);
}
.archives>h4>i,.categories>h4>i,.downloads-title>i{
    margin-left: 5px;
    margin-right: 15px;
}
.archives ul li,.donation ul li,.downloads-inner ul li{
    width: 95%;
    margin: 0 auto;
    background: #e6e6e673;
}
.downloads-inner i{
    font-size: 12px;
}
.downloads-inner ul li:nth-child(1){
    border-bottom: 1px solid rgb(141, 139, 139);
}
.archives-title{
    border: 1px solid #bfbdbdbd;
}
.archives-blogs button, .archives-title button{
    padding: 0 9px;
    font-size: 12px;
}
.archives-blogs{
    border: 1px solid #e6e6e673;
}
.archives-blogs:hover{
    background: #e6e6e6;
    border: 1px solid #bfbdbdbd;
}


.video iframe{
    width: 100%;
    padding: 5px;
}
.video-url{
    flex-wrap: wrap;
}
.video-url div{
    width: 50%;
}
.cal iframe,.map iframe{
    width: 100%;
    height: 350px;
}


/* footer */
footer ul{
    list-style: none;
    box-sizing: border-box;
}
footer ul li{
    margin: 0.675rem 0;
}
footer a{
    text-decoration: none;
    color: inherit;
}
footer a:hover{
    color: aqua;
}
footer h5{
    text-transform: uppercase;
}
.footer-bottom{
    background: #003c20;
}
.footer-top{
    background: #198754db;
}

/* Donation form*/
.donation-form{
    background-color: #e6e6e673;
    border: 1px solid #bfbdbdbd;
    border-radius: 5px;
}




/* policy */
.policy ul li{
    list-style: disc;
    margin-left: 15px;
}
.event-date{
    border: 1px solid rgb(197, 177, 177);
    border-radius: 5px;
    margin-right: 1rem;
}
.event-month{
    color: #fff;
    background-color: rgb(116, 140, 248);
    border-bottom: 1px solid rgb(197, 177, 177);
    padding: 5px;
}
.event-day{
    font-size: 20px;
    text-align: center;

}
.event-title{
    font-weight: 500;
    font-size: 20px;
}
/* contact US */
.contact-address{
    line-height: 2;
}
.contact-form label{
    width: 25%;
}
.contact-form textarea{
    min-height: 145px;
}
/* blog */
.blog-img img{
    width: 100%;
}
.blog-article{
    text-align: justify;
    font-size: 18px;
}
/* button */
.topBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 30%;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: rgb(0, 171, 255);
    border: none;
}
.btn-readmore, .btn-viewmore{
    font-size: 12px;
}
.breadcrumbs{
    height: 100px;
    background-color:rgb(0, 135, 255);
    position: relative;
}
.breadcrumbs-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
@media only screen and (max-width: 576px )  {
    header .title{
        font-size: 20px;
    }
    header .flag{
        max-height: 40px;
    }
    .navbar-toggler{
        padding: 4px;
    }
    .article-image{
        height: 20vh;
    }
   
    .breadcrumbs{
        display: none;
    }

    /* footer */
    .footer-bottom{
        font-size: 12px;
    }

    .contact-address ul{
        padding-left: 0px;
    }
    .upcomming-events ul{
        padding-left: 0;
    }
    .event-date{
        width: 30%;
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 8px; 
    margin-left: -8px; 
 }